/* _content/Pelicula/Views/Home/Index.cshtml.rz.scp.css */


.helloWorld[b-f9gvvzn1d1] {
    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    color: blue;
}





/* MAIN CONTIANER */
.main-container[b-f9gvvzn1d1] {
    padding: 50px;
}

.box[b-f9gvvzn1d1] {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

    .box a[b-f9gvvzn1d1] {
        transition: transform .3s;
        text-decoration: none;
    }

        .box a:hover[b-f9gvvzn1d1] {
            transition: transform .3s;
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }

    .box img[b-f9gvvzn1d1] {
        border-radius: 5px;
    }


/* LINKS */
/*.link {
    padding: 50px;
}

.sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
    color: var(--dark);
    text-decoration: none;
}

    .sub-links a:hover {
        color: var(--dark);
        text-decoration: underline;
    }

.logos a {
    padding: 10px;
}

.logo {
    color: var(--dark);
}*/

img[b-f9gvvzn1d1] {
    max-width: 100%;
}
/* _content/Pelicula/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* MAIN CONTIANER */
.main-container[b-mk30atw35u] {
    padding: 50px;
}

.box[b-mk30atw35u] {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

    .box a[b-mk30atw35u] {
        transition: transform .3s;
    }

        .box a:hover[b-mk30atw35u] {
            transition: transform .3s;
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }

    .box img[b-mk30atw35u] {
        border-radius: 2px;
    }



a.navbar-brand[b-mk30atw35u] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-mk30atw35u] {
  color: #0077cc;
}

.btn-primary[b-mk30atw35u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-mk30atw35u], .nav-pills .show > .nav-link[b-mk30atw35u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-mk30atw35u] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-mk30atw35u] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-mk30atw35u] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mk30atw35u] {
  font-size: 1rem;
  line-height: inherit;
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}*/









/* CSS VARIABLES */
/*:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: #686868;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

h1 {
    padding-top: 60px;
}

.wrapper {
    margin: 0;
    padding: 0;
}*/

/* HEADER */
/*header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "nt mn mn sb . . . ";
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;
}

.netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    padding-left: 30px;
    padding-top: 0px;
}

    .netflixLogo img {
        height: 35px;
    }

#logo {
    color: #E50914;
    margin: 0;
    padding: 0;
}


.main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
}

    .main-nav a {
        color: var(--light);
        text-decoration: none;
        margin: 5px;
    }

        .main-nav a:hover {
            color: var(--dark);
        }

.sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
}

    .sub-nav a {
        color: var(--light);
        text-decoration: none;
        margin: 5px;
    }

        .sub-nav a:hover {
            color: var(--dark);
        }*/


/* MAIN CONTIANER */
/*.main-container {
    padding: 50px;
}

.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}

    .box a {
        transition: transform .3s;
    }

        .box a:hover {
            transition: transform .3s;
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }

    .box img {
        border-radius: 2px;
    }*/

/* LINKS */
/*.link {
    padding: 50px;
}

.sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
    color: var(--dark);
    text-decoration: none;
}

    .sub-links a:hover {
        color: var(--dark);
        text-decoration: underline;
    }

.logos a {
    padding: 10px;
}

.logo {
    color: var(--dark);
}*/


/* FOOTER */
/*footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
}*/

/* MEDIA QUERIES */

/*@media(max-width: 900px) {

    header {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "nt nt nt  .  .  . sb . . . "
            "mn mn mn mn mn mn  mn mn mn mn";
    }

    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
}

@media(max-width: 700px) {

    header {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "nt nt nt  .  .  . sb . . . "
            "mn mn mn mn mn mn  mn mn mn mn";
    }

    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    .sub-links ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 500px) {

    .wrapper {
        font-size: 15px;
    }

    header {
        margin: 0;
        padding: 20px 0 0 0;
        position: static;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "nt"
            "mn"
            "sb";
        text-align: center;
    }

    .netflixLogo {
        max-width: 100%;
        margin: auto;
        padding-right: 20px;
    }

    .main-nav {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 18px;
    }

    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

        .box a:hover {
            transition: transform .3s;
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1.2);
        }

    .logos {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .sub-links ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        font-size: 15px;
    }
}*/

/* _content/Pelicula/Views/Shared/_PeliculaLayout.cshtml.rz.scp.css */

/* Estilos para la barra de busquda*/

.search[b-ppbw5vgw8d] {
    --background: #ffffff;
    --text-color: #414856;
    --primary-color: #4F29F0;
    --border-radius: 10px;
    --width: 190px;
    --height: 55px;
    background: var(--background);
    width: auto;
    height: var(--height);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .search input[type=text][b-ppbw5vgw8d] {
        position: relative;
        width: var(--height);
        height: var(--height);
        font: 400 16px "Varela Round", sans-serif;
        color: var(--text-color);
        border: 0;
        box-sizing: border-box;
        outline: none;
        padding: 0 0 0 40px;
        transition: width 0.6s ease;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
    }

        .search input[type=text]:focus[b-ppbw5vgw8d] {
            z-index: 0;
            opacity: 1;
            width: var(--width);
        }

            .search input[type=text]:focus ~ .symbol[b-ppbw5vgw8d]::before {
                width: 0%;
            }

            .search input[type=text]:focus ~ .symbol[b-ppbw5vgw8d]:after {
                -webkit-clip-path: inset(0% 0% 0% 100%);
                clip-path: inset(0% 0% 0% 100%);
                transition: -webkit-clip-path 0.04s linear 0.105s;
                transition: clip-path 0.04s linear 0.105s;
                transition: clip-path 0.04s linear 0.105s, -webkit-clip-path 0.04s linear 0.105s;
            }

            .search input[type=text]:focus ~ .symbol .cloud[b-ppbw5vgw8d] {
                top: -30px;
                left: -30px;
                transform: translate(0, 0);
                transition: all 0.6s ease;
            }

            .search input[type=text]:focus ~ .symbol .lens[b-ppbw5vgw8d] {
                top: 20px;
                left: 15px;
                transform: translate(0, 0);
                fill: var(--primary-color);
                transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
            }

    .search .symbol[b-ppbw5vgw8d] {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .search .symbol[b-ppbw5vgw8d]:before {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            background: var(--primary-color);
            z-index: -1;
            transition: width 0.6s ease;
        }

        .search .symbol[b-ppbw5vgw8d]:after {
            content: "";
            position: absolute;
            top: 21px;
            left: 21px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: var(--primary-color);
            z-index: 1;
            -webkit-clip-path: inset(0% 0% 0% 0%);
            clip-path: inset(0% 0% 0% 0%);
            transition: -webkit-clip-path 0.04s linear 0.225s;
            transition: clip-path 0.04s linear 0.225s;
            transition: clip-path 0.04s linear 0.225s, -webkit-clip-path 0.04s linear 0.225s;
        }

        .search .symbol .cloud[b-ppbw5vgw8d],
        .search .symbol .lens[b-ppbw5vgw8d] {
            position: absolute;
            fill: #fff;
            stroke: none;
            top: 50%;
            left: 50%;
        }

        .search .symbol .cloud[b-ppbw5vgw8d] {
            width: 35px;
            height: 32px;
            transform: translate(-50%, -60%);
            transition: all 0.6s ease;
        }

        .search .symbol .lens[b-ppbw5vgw8d] {
            fill: #fff;
            width: 16px;
            height: 16px;
            z-index: 2;
            top: 24px;
            left: 24px;
            transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
        }

/*body {
    background: #E8EBF3;
    height: 100vh;
    font: 400 16px "Varela Round", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

    body .socials[b-ppbw5vgw8d] {
        position: fixed;
        display: block;
        left: 20px;
        bottom: 20px;
    }

        body .socials > a[b-ppbw5vgw8d] {
            display: block;
            width: 30px;
            opacity: var(--opacity, 0.2);
            transform: scale(var(--scale, 0.8));
            transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
        }

            body .socials > a:hover[b-ppbw5vgw8d] {
                --scale: 1;
            }



/*Estilos para la barra de busquda**/
