
@{
    Layout = "_Layout.cshtml";
}
<br />

<div class="container">
    <div class="row align-items-center text-center " >
        <div class="col-8 offset-2">
            <a asp-action="AddRole" asp-controller="RoleManagement" class="btn btn-outline-primary btn-block">Nuevo Rol</a>
            <a asp-action="DisplayRoles" asp-controller="RoleManagement" class="btn btn-outline-primary btn-block">Ver Roles</a>
            <a asp-action="AddUserToRole" asp-controller="RoleManagement" class="btn btn-outline-primary btn-block">Asignar</a>
            <a asp-action="Index" asp-controller="RoleManagement" class="btn btn-outline-primary btn-block">Regresar</a>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
