@{
    Layout = "_Layout.cshtml";
}

<html>

<body>
    <br />
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-lg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="col-md-12">
                            <a class="btn btn-outline-primary btn-block">Accion</a>
                            <a class="btn btn-outline-primary btn-block">Aventura</a>
                            <a class="btn btn-outline-primary btn-block">Comedia</a>
                            <a class="btn btn-outline-primary btn-block">Terror</a>
                            <a class="btn btn-outline-primary btn-block">Crimen</a>
                            <a class="btn btn-outline-primary btn-block">Suspenso</a>
                            <a class="btn btn-outline-primary btn-block">Fantasia</a>
                        </div>
                        @await Component.InvokeAsync("DropdownGeneros");
                        
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" name="MovieSearch"
                            value="@ViewData["GetMovies"]" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit" asp-action="Index"
                            asp-controller="Home">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        < <div class="container-lg">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
    </div>
    </div>

    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
</body>

</html>
