@model Pelicula.Models.DisplayRol

@{
     Layout = "_AdminLayout";
    ViewData["Title"] = "All Roles";
}

<h3 class="text-center">Role Management</h3>
<hr />


<div class="row">
    <div class="col-6">
        <form asp-action="DisplayRoles" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="roles" />
            <div class="form-group">
                <label>Enter role name</label>
                <input asp-for="role"   id="role" name="role" class="form-control" placeholder="Enter role name.."/>
                <span asp-validation-for="role" class="text-danger"></span>
                <br />
                <input type="submit" value="Create" class="btn btn-outline-primary btn-block" />
                <a asp-action="Index" class="btn btn-outline-danger btn-block">Cancel</a>
            </div>
        </form>
    </div>


    <div class="col-6" style="border-left:1px solid black;">
        <h3 class="text-center">All Roles</h3>
        @if (Model.roles.Count == 0)
        {
            <p>No roles found!</p>
        }
        else
        {
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Role Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.roles)
                    {
                        <tr>
                            <td>@r.Name</td>
                            <td>
                                <a class="btn btn-outline-danger"
                                   asp-route-role="@r.Name"
                                   asp-action="RemoveRole"
                                   onclick="return confirm('Are you sure to remove this role')">Remove Role</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>