

/* MAIN CONTIANER */
.main-container[b-60ag9dejwj] {
    padding: 50px;
}

.box[b-60ag9dejwj] {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

    .box a[b-60ag9dejwj] {
        transition: transform .3s;
        text-decoration: none;
    }

        .box a:hover[b-60ag9dejwj] {
            transition: transform .3s;
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }

    .box img[b-60ag9dejwj] {
        border-radius: 5px;
    }

img[b-60ag9dejwj] {
    max-width: 100%;
}
