

/* MAIN CONTIANER */
.main-container {
    padding: 50px;
}

.box {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
}

    .box a {
        transition: transform .3s;
        text-decoration: none;
    }

        .box a:hover {
            transition: transform .3s;
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }

    .box img {
        border-radius: 5px;
    }

img {
    max-width: 100%;
}
